body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #2e2e2e;
  color: #fff;
  font-family: 'Arial', sans-serif;
}


.calculator {
  background-color: #444;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.5);
}

#display {
  background-color: #222;
  font-size: 2rem;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 10px;
  text-align: right;
  overflow-x: auto;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  gap: 10px;
}

button {
  font-size: 1.5rem;
  padding: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: opacity 0.2s;
  color: #fff;
}

button:hover {
  opacity: 0.8;
}

.number {
  background-color: #666;
}

.operator {
  background-color: #f39c12;
}

.equals {
  grid-row: span 2;
  background-color: #27ae60;
}

.zero {
  grid-column: span 2;
}

.clear, .backspace, .decimal {
  background-color: #e74c3c;
}

.brand {
  grid-column: span 2;
}

.brand img {
  width: 25px;
}

.brand a {
  display: flex;
  gap: 5px;
  align-items: center;
  text-decoration: none;
  color: #888;
  font-size: 1.2rem;
}

.brand a:hover {
  color: #1abc9c;
  transition: color 0.3s;
}